/* Soli Deo Gloria */

body {
    background-color: rgb(74, 74, 74);
    color: rgb(0, 0, 0);
    font-size: 16px;
}
header {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 13px;
    column-gap: 25px;
    height: auto;
    width: 100%;
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.1);
    background-color: rgb(0, 0, 0);
    padding-bottom: 10px;
    padding-top: 10px;
    z-index: 10;
    top: 0;
    right: 0;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
header a {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 7px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
header button {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 7px;
    text-decoration: none;
    border-width: 2px;
    border-style: dashed;
    border-color: rgb(21, 255, 0);
    color: rgb(0, 0, 0);
}



.maine {
    background-color: rgba(255, 255, 255, 0.1);
    height: auto;
    width: 95%;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
}

.maine-centralizado {
    background-color: rgba(0, 0, 0, 0.975);
    color: rgba(255, 240, 240, 0.962);
    height: auto;
    width: 95%;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.1);
}
.maine-centralizado h1{
    padding-left: 0px;
}
.maine-centralizado p{
    padding-left: 15px;
}
.maine-centralizado table {
    
    background-color: rgba(0, 0, 0, 0.699);
    border-radius: 10px;
    width: fit-content;
    height: fit-content;

    padding: 10px;
}
.maine-centralizado table td{
    padding: 4px;
}
.maine-centralizado hr{
    width: 96%;
}
.funcoes {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.funcoes button {
    width: 41%;
}
.funcoes input {
    width: 40%;
}
.tabela-matriz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    min-height: 5vh;
    width: 50%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    height: fit-content;
    background-color: white;
    border-radius: 20px;
}